body {
    background-image: url('../back.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.back {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.75;
    position: absolute;
}

.table {
    bottom: 0;
    height: 200px;
    margin: auto;
    left: 300px;
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    transform: scale(1.3);
}